@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>Configure your cluster <a asp-controller="Cluster" asp-action="Index">here</a>.</p>
    <p>Create fuzzing task <a asp-controller="FuzzingLaunch" asp-action="Index">here</a>.</p>
}
else
{
    <p>Please <a asp-area="Identity" asp-page="/Account/Login">login</a> to configure your cluster.</p>
}